.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.custom-prev,
.custom-next {
  color: black;
  width: 50px;
  transition: color 0.3s;
}

.custom-prev:hover,
.custom-next:hover {
  color: red;
}
